[submodule "submodules/picorv32"]
	path = submodules/picorv32
	url = https://github.com/YosysHQ/picorv32
[submodule "submodules/ibex"]
	path = submodules/ibex
	url = https://github.com/lowRISC/ibex
[submodule "submodules/neorv32"]
	path = submodules/neorv32
	url = https://github.com/stnolting/neorv32
